{{ define "main" }}
  <head>
    <title>About me</title>
  </head>
  <section style="margin: 1rem;">
    <div class="center-content center-flex" style="margin-bottom: 1rem">
      <section style="text-align:center;">
        <div>
          <img
            style="height: 12.5rem; width: auto"
            loading="lazy"
            src="/img/thor.webp"
          />
          <p>Hi! My name is Roan (thoricelli)</p>
          <p>I'm a software developer from Belgium.</p>
        </div>
      </section>
      <hr />
      <p>
        If I'm not busy, I spend my time building open-source projects for the
        community, working with low-end systems and stupidly overengineering
        optimized systems :).
      </p>
      <h3>What I work on currently</h3>
      <h4>SH7337 Emulator</h4>
      <section>
        <p>
          I'm trying to recreate an emulator for my Casio Graph 35+ e, which
          uses the Renesas SH7337 CPU. This includes GDB support for debugging.
        </p>
        <p>
          I decided to create this emulator because I couldn't find a proper way
          to debug addins for the Casio Graph. This emulator is currently a work
          in progress, a lot has to still be done!
        </p>
      </section>
      <img
        class="zoomable"
        loading="lazy"
        src="/about-me/sh7337.webp"
        alt="GDB Debugger, communication output and application for the emulator."
      />
      <a href="https://github.com/thoricelli/SH7337-Emulator.git">
        <img
          src="https://github-readme-stats.vercel.app/api/pin/?username=thoricelli&repo=SH7337-Emulator&theme=dark"
          alt="GitHub Stats"
        />
      </a>
      <h4>Innovation Uniform Editor</h4>
      <p>
        A Windows Forms based editor for the ROBLOX group Innovation Security.
      </p>
      <img
        class="zoomable"
        loading="lazy"
        src="/about-me/IUE.webp"
        alt="The Innovation Uniform Editor, made on Windows Forms."
      />
      <a href="https://github.com/thoricelli/Innovation-Uniform-Editor.git">
        <img
          src="https://github-readme-stats.vercel.app/api/pin/?username=thoricelli&repo=Innovation-Uniform-Editor&theme=dark"
          alt="GitHub Stats"
        />
      </a>
      <h3>Past projects</h3>
      <h4>Chips challenge</h4>
      <p>
        A game I've been fascinated with in the past due to its simplicity. I've
        remade this game on the Monogame Engine for a school project.
      </p>
      <img
        class="zoomable"
        loading="lazy"
        src="/about-me/ChipsChallenge.webp"
        alt="Chips Chalenge made on Monogame for a college project."
      />
      <a href="https://github.com/thoricelli/Chips-challenge-monogame.git">
        <img
          src="https://github-readme-stats.vercel.app/api/pin/?username=thoricelli&repo=Chips-challenge-monogame&theme=dark"
          alt="GitHub Stats"
        />
      </a>
      <h4>Highschool</h4>
      <p>
        During COVID, I messed around with a few things here and there. During
        online lessons I would work on a version of Chip's Challenge but on my
        Casio Graph 35+E calculator. I never ended up fully finishing it but
        trust me, that code is a mess!!
      </p>
      <div style="display: flex">
        <img
          class="zoomable"
          loading="lazy"
          src="/about-me/ChipsChallengeCalc.webp"
          alt="Screenshot 1 of Chips Challenge unreleased port for the Casio Graph"
        />
        <img
          class="zoomable"
          loading="lazy"
          src="/about-me/ChipsChallengeCalc2.webp"
          alt="Screenshot 2 of Chips Challenge unreleased port for the Casio Graph"
        />
      </div>
      <p>
        Apart from that, I used to help my friends get games on their
        calculators, and well the teachers weren't happy that I was on my
        calculator during something like geography lol...
      </p>
      <p>
        I loved the low-code aspect of the Casio Graph, figuring out how the
        system calls worked, figuring out the SH-4 instruction set.
      </p>
      <p>
        And ahem, my apologies to the technician who got the calculator that I
        accidentally wiped the boot ROM from :)
      </p>
      <h4>Other showcases</h4>
      <div class="grid-col-2">
        <div class="center-flex">
          <img
            class="zoomable"
            loading="lazy"
            src="/about-me/GameOfLife.webp"
            alt="Recreation of Game Of Life made when I was in Highschool."
          />
          <p>Game Of Life</p>
        </div>

        <div class="center-flex">
          <img
            class="zoomable"
            loading="lazy"
            src="/about-me/StillwellBrain.webp"
            alt="Stillwell brain implementation from Vsauce's mindgame series."
          />
          <p>Stillwell Brain</p>
        </div>

        <div class="center-flex">
          <img
            class="zoomable"
            loading="lazy"
            src="/about-me/minesweeper.webp"
            alt="Recreation of Minesweeper in Windows Forms."
          />
          <p>Minesweeper</p>
        </div>
      </div>
      <h3>Hobbies</h3>
      <p>
        My hobbies include music, drawing and honestly whatever else I feel
        like.
      </p>
      <p>
        In 2024 with a friend I started experimenting around in FL Studio, we
        haven't really made a lot of progress but we're learning!
      </p>
      <p>dreamy_beat.mp3</p>
      <audio controls src="/about-me/dreamy_beat.mp3"></audio>
      <p>weatherchannel_beat.mp3</p>
      <audio controls src="/about-me/weatherchannel_beat.mp3"></audio>
      <p>
        I occasionally draw things on Clip Studio Paint with the help of an
        amazing friend.
      </p>
      <p>Anyways,</p>
      <h3>Thank <i>you</i> for taking the time to read this!</h3>
    </div>
  </section>
{{ end }}
