.modal {
  pointer-events: none;

  position: fixed;
  z-index: 1;

  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;

  background-color: var(--bg);

  transition: opacity 400ms ease;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal--active {
  pointer-events: all;
  opacity: 1 !important;
}

.image-zoomable {
  position: relative;
  z-index: 15;
  transition: transform 400ms;
  pointer-events: none;
}

.modal__image {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  opacity: 0;
  width: auto;
  max-height: 80%;
}

.modal__close {
  z-index: 10;

  opacity: 0;
  top: 0;
  right: 0;
  position: fixed;
  cursor: pointer;

  margin: 3rem;
  font-size: xx-large;

  transition: opacity 400ms;

  cursor:pointer;
}

.modal__caption {
  z-index: 2;
  text-align: center;
}

.modal__entry {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.modal__backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
}
