pre,
blockquote {
  background-color: #262626;
  padding: 1rem;
  margin: 0;
}

blockquote {
  border-left: 4px solid var(--primary);
}

p:has(img) {
  padding-left: 2rem;
  padding-right: 2rem;
}

pre {
  overflow: auto;
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #393812;
}

.zoomable,
article img {
  cursor: zoom-in;
}

.katex {
  white-space: normal !important;
}

a:hover {
  color: color-mix(in srgb, var(--primary) 60%, var(--block) 40%);
}
