.article-item:hover {
  background-color: #202020;
  cursor: pointer;
}

pre,
blockquote {
  background-color: #262626;
  padding: 1rem;
  margin: 0;
}

blockquote {
  border-left: 4px solid var(--primary);
}

p:has(img) {
  padding-left: 2rem;
  padding-right: 2rem;
}

.grid-col-2 {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

pre {
  overflow: auto;
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #393812;
}

.zoomable,
article img {
  cursor: zoom-in;
}

.plantuml-diagram {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.katex {
  white-space: normal !important;
}
