{{- $file := .Get "src" -}}
{{- $filePath := printf "%s/%s" .Page.File.Dir $file -}}
{{- $data := readFile $filePath | strings.TrimSpace -}}
{{- $hash := ($data | sha256 | truncate 8 "") -}}
{{- $folder := path.Base .Page.File.Dir -}}
{{- $filename := printf "%s-%s.svg" $folder $hash -}}
{{- $svgPath := printf "/diagrams/%s" $filename -}}


<div class="plantuml-diagram">
  <img
    src="{{ $svgPath }}"
    alt="{{ .Get "alt" | default "PlantUML Diagram" }}"
    loading="lazy"
  />
  {{ with (.Get "caption") }}
    <figcaption>
      <p>{{ . }}</p>
    </figcaption>
  {{ end }}
</div>
